.users-list{
    position: absolute;
    top: 100px;
    left: 50px;
}


.hr-list{
    position: absolute;
    width: 100vw;
    top: 600px;
    left: 0;
    
}

.result-pet-list{
    position: absolute;
    top:97vh;
    left: 3vw;
    
    }

.result-pet-list ,div{
  margin-bottom: 5px;
}    

.addpet-button{
   
    position: absolute;
    top: 78vh;
    left: 43vw;
   height: 45px;
   width: 180px;
     border-radius: 5px!important;
     background-color: #f2f2f2!important;
     padding: 11px 13px!important;
     color: #1DA1F2;
     font-weight: 600!important;
     margin: 5px;
}

.h1-user-list{
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Verdana, sans-serif;
}

.h1-pet-list {
  position: absolute;
  margin-bottom: 20px;
  font-family: Verdana,sans-serif;
  top: 88vh;
  left: 3vw;
}