.div-cardsPets {
    position: absolute;
    top: 50px;
    left: 65px;
    height: 90vh;
    width: 90vw;
    border: solid 1px black;
}

.addopt-button{
    position: absolute;
    bottom: 160px;
    left: 350px;
    border-radius: 5px!important;
    background-color: #f2f2f2!important;
    padding: 11px 13px!important;
    color: #1DA1F2;
    font-weight: 600!important;
    width: 100px;
}

.foster-button {
    position: absolute;
    bottom: 160px;
    left: 500px;
    border-radius: 5px!important;
    background-color: #f2f2f2!important;
    padding: 11px 13px!important;
    color: #1DA1F2;
    font-weight: 600!important;
    width: 100px;
}

.return-button{
    position: absolute;
    bottom: 160px;
    left:650px;
    border-radius: 5px!important;
    background-color: #f2f2f2!important;
    padding: 11px 13px!important;
    color: #1DA1F2;
    font-weight: 600!important;
    width: 100px;
}

.save-buton{
    position: absolute;
    bottom: 160px;
    left: 800px;
    border-radius: 5px!important;
    background-color: #f2f2f2!important;
    padding: 11px 13px!important;
    color: #1DA1F2;
    font-weight: 600!important;
    width: 100px;
}

.unSave-buton{
    position: absolute;
    bottom: 160px;
    left: 950px;
    border-radius: 5px!important;
    background-color: #f2f2f2!important;
    padding: 11px 13px!important;
    color: #1DA1F2;
    font-weight: 600!important;
    width: 100px;
}