.input-form{
    width: 360px;
    
    
}

.input-form , .label-form {
    margin-left: 120px;
}

.h2-form{
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-add{
    position: absolute;
    right: 400px;
    top: 100px;
    height: 800px;
    width: 600px;
 
}

.add-btn {
    position: absolute;
    left: 115px;
    bottom: 160px;
    width: 360px;
    border-radius: 5px!important;
    background-color: #f2f2f2!important;
    padding: 11px 13px!important;
    color: #1DA1F2;
    font-weight: 600!important;
    margin: 5px;
}

