.h2-text{
   
    margin-top: 10vh;
    text-align: center;
    font-size: 80px;
    font-family: Verdana,sans-serif;

}

.hr-form-init{
    position: absolute;
    top: 30vh;
    left: 20vw;
   
        border:none;
        height: 20px;
           width: 60%;
          border-bottom: 1px solid black;
          box-shadow: 0 20px 20px -20px #333;
        margin: -50px auto 10px; 
      
}

.hr-form-end{
    position: absolute;
    bottom: 5vh;
    left: 20vw;
   
        border:none;
        height: 20px;
           width: 60%;
          border-bottom: 1px solid black;
          box-shadow: 0 20px 20px -20px #333;
        margin: -50px auto 10px; 
      
}

.Form-Box {
    position: absolute;
    width: 40vw;
    height: 70vh;
    top: 200px;
    left:30vw;
    
}

.input-prof , .textarea-profile{
    position: relative;
    top: vh;
    left: 15vw;
    
   width: 300px;
   display: block;
   margin: 5px;
}

.label-prof {
    font-weight: bold;
    position: relative;
    top: 4vh;
    left: 1vw;
}

label{
    font-weight: bold;
    position: relative;
    left: 1vw;

}

.save-button{
    position: absolute;
    right: 34vw;
    bottom: 11vh;
    width: 20vw;
    border-radius: 5px!important;
    background-color: #f2f2f2!important;
    padding: 11px 13px!important;
    color: #1DA1F2!important;
    font-weight: 600!important;
    margin: 5px;

}

