
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

.h1-style{
    position: absolute;
    top: 17vh;
    left: 14vw;
    font-size: 80px;
    color: white;
    font-family: 'Hind Siliguri';

}

.h3-style{
    position: absolute;
    top: 38vh;
    left: 20vw;
    color: white;
    font-size: 50px;
    


}